<?xml version="1.0"?>
<ruleset name="Collabim">

<rule ref="Collabim.Commenting.NoTestComment">
	<properties>
		<property name="testPaths" value="{testPaths}"/>
		<property name="diContainerDirectoryPath" value=""/>
	</properties>
</rule>

</ruleset>
